<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Remove .html extension -->
                <rule name="Remove .html extension" stopProcessing="true">
                    <match url="^([^\.]+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                
                <!-- Redirect /index.html to / -->
                <rule name="Redirect index.html to root" stopProcessing="true">
                    <match url="^index\.html$" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Set default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Enable compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <!-- Set caching headers -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration> 